.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-button.svg);
  padding-top: 32px;
  margin-left: 18px;
  background-color: transparent;
  border: 0 transparent;
  cursor: pointer;
  align-self: flex-end;
  transition: opacity 0.2s ease;
  background-repeat: no-repeat;
}

.profile__edit-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 879px) {
  .profile__edit-button {
    padding-top: 23px;
    margin-left: 10px;
    width: 18px;
    height: 18px;
    background-image: url(../../../images/edit-button-media.svg);
  }
}
