.popup__input {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  height: 32px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 7px 36px 18px;
  padding: 0;
}

@media screen and (max-width:600px) {
  .popup__input {
    margin: 0 22px 24px;
    max-width: 238px;
  }
}
