.profile {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  max-width: 880px;
  align-items: center;
  margin: 0 auto;
  padding: 42px 0 0 0;
}

@media screen and (max-width: 879px) {
  .profile {
    justify-content: center;
    grid-template-columns: 282px;
  }
}
