.popup__content {
  margin: 0;
  padding: 0;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  width: 430px;
}

@media screen and (max-width:600px) {
  .popup__content {
    width: 282px;
  }
}
