.element__heart {
  background-repeat: no-repeat;
  border: 0;
  background-color: rgba(0, 0, 0, 0.0);
  cursor: pointer;
  background-image: url(../../../images/heart.svg);
  width: 22px;
  padding: 0 5px 22px;
  height: 100%;
}

.element__heart:hover {
  cursor: pointer;
  opacity: 0.5;
}

.element__heart:active {
  background-image: url(../../../images/heart_active.svg);
  opacity: 1;
}
