.profile__add-button {
  background-image: url(../../../images/Vector.svg);
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  height: 50px;
  width: 150px;
  margin-left: auto;
  transition: opacity 0.2s ease;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__add-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 879px) {
  .profile__add-button {
    margin: 35px auto;
    width: 282px;
    background-size: 16px 16px;
  }
}
