.elemets__grid {
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: 430px;
  border-radius: 10px;
  background-color: #fff;
}

@media screen and (max-width:600px) {
  .elemets__content {
      width: 282px;
  }
}
