.popup__save-button {
  text-align: center;
  background-color: #000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 358px;
  height: 50px;
  margin: 13px 36px 37px 36px;
}

.popup__save-button:hover {
  background-color: #000;
  opacity: 0.75;
}

@media screen and (max-width:600px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    max-width: 238px;
    margin: 15px 22px 25px 22px;
  }
}
