.profile__avatar {
  margin: 0;
  padding: 0;
  max-width: 120px;
  max-height: 120px;
  object-fit: cover;
  object-position: inherit;
}

@media screen and (max-width: 879px) {
  .profile__avatar {
    padding-bottom: 26px;
  }
}
