.profile__info {
  display: flex;
  width: 336px;
  flex-wrap: wrap;
  margin-left: 30px;
}

@media screen and (max-width: 879px) {
  .profile__info {
    width: 282px;
    margin: 0;
    padding-top: 26px;
    justify-content: center;
  }
}
