.profile__info {
  display: grid;
  grid-template-rows: 39px 1fr;
  grid-template-columns: 1fr 1fr;
  max-width: 336px;
  padding-left: 30px;
  align-items: center;
}

@media screen and (max-width: 879px) {
  .profile__info {
    justify-content: center;
    max-width: 282px;
    padding-left: 38px;
    align-items: baseline;
    grid-template-rows: 27px 27px;
  }
}
